In [ ]:
import pandas as pd
# a summary of how to do the SQL syntax in Python Pandas
# it following by the step of SQL running sequence
# FROM and JOIN, WHERE, GROUP BY, HAVING, SELECT, DISTINCT, ORDERBY, LIMIT OFFSET

In [ ]:
# put the CSV file into a dataframe
df1 = pd.read_csv("file1.csv")

In [ ]:
# if you have more that one dataset and would like to join together
# import it to an other dataframe
df2 = pd.read_csv("file2.csv")

In [ ]:
# show the columns name
df1.columns

In [ ]:
# give the number of rows and columns
print("column: ", len(df1.columns), 'row: ', len(df1))

In [ ]:
# give the list of data type
df1.dtypes

In [ ]:
# update datatype int, float, str, datetime
df1 = df1.astype({'column1': 'int','column2':'str'})
df1.dtypes

In [ ]:
# SELECT * FROM table: show whole dataset in table
# in python, please use the following code
# print(df1.to_string())
df1

In [ ]:
# select table and inner join it
join_df = pd.merge(df1, df2, on = "id", how = "inner")

In [ ]:
# WHERE condition
condition = (join_df['column1'] == value) & (join_df['column2'] >= value)

join_df[condition]

In [ ]:
# WHERE IN 
list = ["value1","value2"]
condition = (join_df['column1'].isin(list))
join_df[condition]

In [ ]:
# WHERE NOT IN: use ~ operator
list = ["value1","value2"]
condition = ~(join_df['column1'].isin(list))
join_df[condition]

In [ ]:
# WHERE LIKE %str%
condition = join_df['column1'].str.contains('str')
join_df[condition]

In [ ]:
# WHERE LIKE str%: str.startswith()
condition = join_df['column1'].str.startswith('str')
join_df[condition]

In [ ]:
# WHERE LIKE %str: str.endswith
condition = join_df['column1'].str.endswith('str')
join_df[condition]

In [ ]:
# WHERE LIKE use regex for all above  
condition = join_df['column1'].str.contains(r'^[A-E]',regex = True)
join_df[condition]

In [ ]:
# Group by with AVG(): mean(), MAX():max(), MIN(): min(), Mode(): mode(),MEDIAN(): median(),COUNT(): count(),SUM():
Result = join_df.groupby('group by column')["value column"].mean().reset_index
print(Result)

In [ ]:
# Group by with COUNT()
df1['group by column'].value_counts()

In [ ]:
# HAVING

# In SQL HAVING is uese for filtering the result aggregation fucntion
# In pandas create a result of aggregation
Result = join_df.groupby('group by column')["value column"].mean().reset_index()

# apply the filter on the result
Result = Result[(Result["value column"] >= 80)]
Result

In [ ]:
# SELECT column1 FROM join_df
join_df['column1']

In [ ]:
# SELECT column1, column2 FROM join_df
join_df[['column1','column2']]

In [ ]:
# SELECT DISTINCT
Result = df1['Distint column'].drop_duplicates().reset_index(drop = True)
Result

In [ ]:
# SELECT COUNT(DISTINCE): use .count() 
print(Result.count())

In [ ]:
# COUNT(DISTINCT): nunique()
df1["column"].nunique()

In [ ]:
# create a new column by aggregation
# SELECT column1 * column2 AS new_column
df1['new_column'] = df1['column1'] * df1['column2']

In [ ]:
# SELECT column as New column name: rename the column
# inplase = True will update this data set
# inplase = False will return a new dataset

join_df.rename(columns = {'cloumn1_name':'new_name1','cloumn2_name':'new_name2'}, inplace = True)

join_df

In [ ]:
# ORDER BY column1
join_df.sort_values(by = 'column1', ascending = True)

In [ ]:
# ORDER BY column1 , column2
ColList = ['column1', 'column2']
AscList = [True, False]
join_df.sort_values(by = ColList, ascending = AscList)

In [ ]:
# ORDER BY with GROUP BY
# create a result of groupby aggregation
Result = join_df.groupby('group by column')["value column"].mean().reset_index()

# sort the result by sort_values and reset index
Result = Result.sort_values(by = 'group by column', ascending = True).reset_index(drop = True)
Result

In [ ]:
# LIMIT 10
join_df.head(10)

In [ ]:
# LIMIT 10 OFFSET 5
join_df.iloc[6:16]

In [ ]:
#SELECT column1, column2 FROM JOIN TABLE LIMIT 10 OFFSET 5
join_df.loc[6:16,['column1','column2']]

In [ ]:
# export dataframe to excel file
join_df.to_excel('join_result.xlsx')

In [ ]:
# export dataframe to csv file
join_df.to_csv('join_result.csv')

In [ ]:
# export dataframe to json file
join_df.to_json('join_result.json')

In [ ]:
# Extra

In [ ]:
# UNION
join_result = pd.concat([result1,result2], ignore_index = True)